
.complemetaryAreaContainer{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
    color: #000;
}

.time{
    display: flex;
}

.time .circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #101010;
    stroke-width: 4;
    transform: translate(5px, 5px);
}
.time .circle svg circle:nth-child(2){
    stroke: rgb(14, 161, 14);
    stroke-dasharray: 440;
    stroke-dashoffset: 44;

}

.time div{

    position: absolute;
    text-align: center;

}

.dot{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    transform: rotate(330deg);
}
.dot::before{
    content: '';
    position: absolute;
    top: -2px;
    width: 15px;
    height: 15px;
    background-color: rgb(5, 250, 5);
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(5, 250, 5),
    0 0 60px rgb(5, 250, 5);
}