
.depositionContainer{
    width: 100%;
    height: 100%;
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h2{
    text-align: center;
}

.depositionContent{    
    width: 100%;
    height: 90vh;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    place-items: center;
}
.depositionContent img{
    width: 100%;
}

.commentsArea{
    width: 100%;
    height: 100%;

    overflow: auto;

    background: var(--purpleShade1);
    

    display: block;
    gap: 1rem;
    padding: 1rem;
}

.complementaryArea{
    width: 100%;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

@media(max-width: 1080px){

    .depositionContent img{
        display: none;
    }
    .depositionContent{
        grid-template-columns: 1fr;
    }

}

@media(max-width: 720px){


}

@media(max-width: 600px){

}