
.sectionFormContainer{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    gap: 1rem 0;
}

.firstContent{

    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

}

.secondContent{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    gap: 1rem;
}

.secondContent h2{
    width: 80%;
    text-align: right;
}
.secondContent span{
    color: var(--purpleDark);
}

form{
    width: 100%;

    background: var(--purpleShade1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem 0;
    margin-bottom: 1rem;
    padding: 4rem 0 1rem 0;

    box-shadow: -10px 10px 0 var(--purpleButton);
}
input{
    width: 80%;
    height: 2rem;

    border: 1px solid black;
    border-radius: 5px;

    padding: 0 1rem;
    color: #000; 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;    
}

textarea{
    width: 80%;
    height: 7rem;

    border: 1px solid black;
    border-radius: 5px;

    color: #000; 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    padding: 0.5rem 1rem;
}

button.buttonSubmit{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25%;
    padding: 0.8rem 0;
    font-weight: 600;
    
    letter-spacing: 0.2rem;
    
    border-radius: 10px;
    border: 2px solid var(--purpleButton);
    background: var(--purpleButton);

    cursor: pointer;
    transition: .5s;

    color: white;
}
button.buttonSubmit:hover{
    color: var(--purpleButton);
    background: var(--purpleShade1);
}

::-webkit-input-placeholder  { 
    color:var(--textSecondary); 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
input:-moz-placeholder { 
    color:var(--textSecondary); 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
 }
textarea:-moz-placeholder { 
    color:var(--textSecondary); 
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
 }

 @media(max-width: 1080px){

    .firstContent{
        width: 100%;
        text-align: justify;
    }

    .secondContent{
        display: flex;
        flex-direction: column;
    }

    .secondContent h2{
        text-align: center;
    }

}

@media(max-width: 720px){

    .sectionFormContainer{
        margin-top: 5rem;
    }

    .secondContent h2{
        margin-top: 1rem;
        width: 100%;
    }

}

@media(max-width: 600px){

    button.buttonSubmit{
        margin: 1rem 0;
        width: 50%;
    }

}