
.HeaderBarContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonMusical{
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    background: var(--purpleShade1);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.buttonMusical:hover{
    cursor: pointer;
}

.buttonMusical > div{
    position: absolute;
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background: var(--purpleShade2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonMusical > div img{
    max-width: 60%;
}

@media(max-width: 600px){

    .buttonMusical{
        width: 3.5rem;
        height: 3.5rem;
    }

}