
.HeaderMainCantainer{
    width: 100%;
    height: 80vh;

    display: grid;
    grid-template-columns: 1fr 1fr;

    align-content: center;
}

.subTitleHeader{
    width: 70%;
}

.section1{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}



article.cardHeader{
    background: white;

    border-radius: 10px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);

    width: 70%;
    height: 7rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

article.cardHeader > div{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-right: 1px solid #d7d7d7;

}
article.cardHeader > div:last-child{
    border-right: none;
}

div.circle{
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

.section1 img{
    max-width: 50%;
}

.part1 .circle{
    background: var(--pinkLight);
}
.part2 .circle{
    background: var(--yellowLight);
}
.part3 .circle{
    background: var(--greenLight);
}

button.buttonExplorer{

    width: 10rem;
    height: 3rem;

    border-radius: 5px;
    font-weight: 600;

    text-decoration: none;
    letter-spacing: 0.1rem;
    background: var(--purpleButton);
    color: white;
    border: none;
    outline: 2px solid var(--purpleButton);
    position: relative;
    overflow: hidden;
    transition: 1s;
    z-index: 1;
}
button.buttonExplorer:hover{
    cursor: pointer;
    color: var(--purpleButton);
}

button.buttonExplorer::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: white;
    transform: skewX(35deg);
    z-index: -1;
    transition: 1s;
}
button.buttonExplorer:hover::before{
    width: 150%;
}

.section2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 img{
    max-width: 100%;
}

@media(max-width: 1080px){

    .HeaderMainCantainer{
        display: flex;
        flex-direction: column-reverse;        
    }
    .section1{
        display: flex;
        align-items: center;
    }
    .carrosel{
        width: 20em;
        height: 20rem;
    }

}
@media(max-width: 720px){

    .carrosel{
        width: 15em;
        height: 15rem;
    }
    .subTitleHeader{
        text-align: center;
    }

}
@media(max-width: 600px){

    h1{
        text-align: center;
    }

    article.cardHeader{
        width: 100%;
    }

    .carrosel{
        width: 12em;
        height: 12rem;
    }

}