
.MovieContainer{
    width: 100%;
    height: 80vh;

    display: grid;
    grid-template-columns: 1fr 1fr;

    align-content: center;

    gap: 1rem;
}

iframe{
    max-width: 100%;
    max-height: 100%;

    box-shadow: -20px 20px 0 var(--purpleButton);
    border: 2px solid;
    border-image: linear-gradient(var(--purpleDark), var(--purpleShade2));
    border-image-slice: 10;
}

.text{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: right;

}

h2{
    margin-bottom: 1.5rem;
}

@media(max-width: 1080px){

    .MovieContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    iframe{
        height: 50rem;
        box-shadow: -15px 15px 0 var(--purpleButton);
    }
    .text{
            text-align: center;
    }

}
@media(max-width: 720px){

    iframe{
        box-shadow: -10px 10px 0 var(--purpleButton);
    }

}
@media(max-width: 600px){

    iframe{
        box-shadow: -8px 8px 0 var(--purpleButton);
    }

}