
.ServicesSectionContainer{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 8rem;
}

.info{
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.texts{
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.texts h2{
    margin-bottom: 1.5rem;
}
.texts h4{
    max-width: 90%;
}

button.filter{

    width: 9rem;
    height: 3rem;

    background: white;

    border: none;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: 1px solid #000;

}
button.filter h3{
    font-size: 1.2rem;
    font-weight: 500;
}

button.filter:hover{
    cursor: pointer;

    transform: scale(1.05);
}


