
.ServicesSectionContainer{
    width: 100%;
    height: 100vh;

    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.info{
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.texts{
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.texts h2{
    margin-bottom: 1.5rem;
}


button.filter{

    width: 9rem;
    height: 3rem;

    position: relative;

    background: transparent;

    border: 1px solid var(--purpleButton);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-size: 1.2rem;

    transition: 1s;

    overflow: hidden;

    cursor: pointer;

}
button.filter::before{
    content: '';
    position: absolute;
    background: var(--purpleButton);
    width: 8px;
    top: 0;
    bottom: 0;
    left: -32px;
    transform: rotate(-32deg);
    filter: blur(6px);
}
button.filter:hover::before{
    left: calc(100% + 32px);
    transition: 1s ease-in-out;
}


button.filter img{
    width: 15%;
    transform: rotate(90deg);
}


.cards{
    width: 100%;
    height: auto;

    padding: 1rem 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

}


@media(max-width: 1080px){

    
}

@media(max-width: 720px){

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 2rem;
    }
    .texts{
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}

@media(max-width: 600px){

    
}


