@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,500&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --purpleBackground: #F3EDFF;
    --purpleShade1: #DDCDFF;
    --purpleShade2: #C4AEF1;
    --purpleButton: #7F43FE;
    --purpleDark: #5200FD;
    --pinkLight: #FFDAEC;
    --yellowLight: #FFFBDA;
    --greenLight: #DAFFDE;
    --pinkStrong: #FE43CA;
    --yellowStrong: #EFFE43;
    --greenStrong: #43FE61;
    --textSecondary: #929292;
}

h1, h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #000000;
}
h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--textSecondary);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    background: var(--purpleBackground);
}

header{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;

    padding: 2rem 0;

    position: relative;
}

header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url(../images/subBackgrounds/subBackground1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: saturate(0);
    z-index: -1;
    opacity: 0.12;
}

.widthContainerHeader{
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 1rem;
}

main{
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.section1{
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url(../images/subBackgrounds/subBackground3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    z-index: -1;
}

.widthContainerMain1{
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.section2{
    width: 80%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5rem;

    margin-bottom: 3rem;
}

.section3{
    width: 100vw;
    height: 130vh;

    position: relative;
    margin-top: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.section3::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url(../images/subBackgrounds/subBackground2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    z-index: -1;
    opacity: 0.12;
}
.widthContainerMain3{
    width: 80%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

@media(max-width: 1080px){
    .section3{
        height: auto;
        
    }
}