

/* Styles slides Swiper */

.swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet-active{
    background: var(--purpleButton);
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  left: 0;
  width: 100%;
  position: relative;
}